
*.apk
output-metadata.json
WorkerManagerSample2/.idea/deploymentTargetDropDown.xml
WorkerManagerSample2/.idea/misc.xml
WorkManagerSample/.idea/deploymentTargetDropDown.xml
WorkManagerSample/.idea/misc.xml
ServiceSample/.idea/misc.xml
ServiceSample/.idea/misc.xml
